* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: 'Arial', sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  display: grid;
  grid-template-areas: 'title title' 'allCases especificCountry' 'allCountries allCountries';
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #333;
  margin: 0;
  background: #fff;
}

h1.title {
  grid-area: title;
  padding: 20px 50px;
  font-size: 3rem;
  background: rgb(121, 121, 246);
  color: white;
}

.all-cases,
.especific-country,
.all-countries {
  display: flex;
  justify-content: left;
  align-items: top;
  flex-direction: column;
  padding: 50px;
  border-bottom: 1px solid #333;
  margin: 0 3vw;
}

.all-countries {
  border-bottom: 0;
}

h1 {
  font-size: 1.6rem;
  padding: 30px 0;
}

h1 select {
  font-size: 1.6rem;
  margin-left: 10px;
}

.all-cases {
  grid-area: allCases;
}

.especific-country {
  grid-area: especificCountry;
}

.all-countries {
  grid-area: allCountries;
}

td {
  text-align: left;
  padding: 20px;
  padding-left: 0;
  font-size: 1.4rem;
  border-bottom: 1px solid #d9d9d9;
}

td.big {
  font-size: 1.8rem;
  font-weight: 300;
}

tr td:first-of-type {
  font-weight: bold;
}

.bold td {
  font-weight: bold;
}

@media (max-width: 600px) {
  .container {
    margin: 0;
    display: grid;
    grid-template-areas: 'title' 'allCases' ' especificCountry' 'allCountries';
    grid-template-columns: 1fr;
  }
  h1.title {
    padding: 12px 0;
    text-align: center;
    width: 100%;
  }
  .all-cases,
  .especific-country,
  .all-countries {
    margin: 0 10px;
    padding: 30px 0;
    border-bottom: 1px solid #333;
  }
}

@media (max-width: 570px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 505px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 470px) {
  html {
    font-size: 35%;
  }
}
